<!-- <div class="nav-container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <div class="navbar-brand logo"></div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <div class="navbar-nav">
              <a routerLink="/" class="nav-link">
                <fa-icon [icon]="faHouse" class="mr-1"></fa-icon>
              </a>
              <a routerLink="/profile" class="nav-link" *ngIf="auth.isAuthenticated$ | async">
                <fa-icon [icon]="faUser" class="mr-1"></fa-icon> Profile
              </a>
              <button id="qsLoginBtn" class="btn btn-primary nav-link" *ngIf="(auth.isAuthenticated$ | async) === false" (click)="loginWithRedirect()">Log in</button>
            
            <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
              <button id="qsLogoutBtn" class="btn btn-link nav-link" (click)="logout()">
                <fa-icon [icon]="faPowerOff" class="mr-1"></fa-icon> Log out
              </button>
            </li> 
           </div>
        </div>
      </div>
    </nav>
  </div> -->
  

<nav class="header-navbar">
    <a routerLink="/" class="nav-link-icon">
        <fa-icon [icon]="faHouse" class="mr-1"></fa-icon>
    </a>
    <a routerLink="/profile" class="nav-link-icon" *ngIf="this.auth.isAuthenticated$ | async">
        <fa-icon [icon]="faUser" class="mr-1"></fa-icon>
    </a>
    <button id="qsLoginBtn" class="btn btn-primary nav-link" *ngIf="(isAuth0Authenticated$ | async) === false" (click)="loginWithRedirect()">Log in</button>
    <button id="qsLogoutBtn" class="btn btn-link nav-link" *ngIf="auth.isAuthenticated$ | async" (click)="logout()">
        <fa-icon [icon]="faRightFromBracket" class="mr-1"></fa-icon>Logout
    </button>
</nav>