.custom-list-item {
    transition: background-color 0.3s ease;
}
  
.custom-list-item:hover {
    background-color: #e0e0e09c; 
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.results-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.results-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px; /* Set a maximum width for the results list */
    align-items: stretch;
}
  
.custom-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    height: fit-content;
}
  
.business-info {
    display: flex;
    flex-direction: column;
}
  
.business-name {
    font-weight: bold;
    margin-bottom: 4px;
}
  
.business-address {
    color: gray;
    font-size: 0.9em;
}
  
button:hover {
    background-color: #f42a2a;
}
