.custom-list-item {
    transition: background-color 0.3s ease;
}
  
.custom-list-item:hover {
    background-color: #e0e0e09c; 
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.results-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 2400px;
    align-items: center;
    position: relative;
    left: -50px;
}
  
.custom-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    height: fit-content;
}
  
.business-info {
    display: flex;
    flex-direction: column;
}
  
.business-name {
    font-weight: bold;
    margin-bottom: 4px;
}
  
.business-address {
    color: gray;
    font-size: 0.9em;
}

.results-container {
    padding: 20px;
  }
  
button {
    background-color: #d21919;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    padding: 5px 10px;
    height: fit-content; 
    margin-left: 10px;
  }
  
 button:hover {
    background-color: #f42a2a;
  }