/* General styles */
.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
  margin-inline: 20px;
  margin-right: 20px;
  width: auto;
}


button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #d21919;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f42a2a;
}

.mat-toolbar {
  background-color: #1976d2;
  color: white;
}

.search-form-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}


.mat-icon {
  color: white;
  transform: scale(2);
}

.search-button {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #d32323;
  color: white;
  margin: 0;
  height: 56px;
  width: 16px;
  padding: 0 16px; 
  border-radius: 4px;
  line-height: 1.75; 
}
