<div class="search-form-container">
    <form class="search-form" (ngSubmit)="handleSearch()">
        <mat-form-field appearance = "outline" class="example-full-width">
            <mat-label>State</mat-label>
            <input type="text" matInput [matAutocomplete]="autoState" [(ngModel)]="state" name="state" (input)="filterStates()">
            <mat-autocomplete #autoState="matAutocomplete" (optionSelected)="onStateSelected()">
                <mat-option *ngFor="let option of filteredStates" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance = "outline" class="example-full-width">
            <mat-label>City</mat-label>
            <input type="text" matInput [matAutocomplete]="autoCity" [(ngModel)]="city" name="city" (input)="filterCities()">
            <mat-autocomplete #autoCity="matAutocomplete">
                <mat-option *ngFor="let option of filteredCities" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance = "outline" class="example-full-width">
            <mat-label>Category</mat-label>
            <input type="text" matInput [matAutocomplete]="autoCategory" [(ngModel)]="category" name="category" (input)="filterCategories()">
            <mat-autocomplete #autoCategory="matAutocomplete" (optionSelected)="onCategorySelected()">
                <mat-option *ngFor="let option of filteredCategories" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance = "outline" class="example-full-width">
            <mat-label>Business Name</mat-label>
            <input type="text" matInput [matAutocomplete]="autoBusiness" [(ngModel)]="businessName" name="businessName" (input)="filterBusinessNames()">
            <mat-autocomplete #autoBusiness="matAutocomplete">
                <mat-option *ngFor="let option of filteredBusinesses" [value]="option.name">
                    {{ option.name }}
                </mat-option>
            </mat-autocomplete>
            <button matSuffix mat-button  type="submit" class="search-button"><mat-icon >search</mat-icon></button>
        </mat-form-field>
    </form>
</div>

<ng-container *ngIf="showResults">
    <app-search-results [businesses]="filteredBusinesses"></app-search-results>
</ng-container>