/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    background-color: #d21919;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    padding: 5px 10px;
    height: fit-content; 
    margin-left: 10px;
  }

.mat-form-field-underline {
    display: none;
}